:root {
    --primary-color: #33b18e;
    --font: 'Sora', sans-serif;
 }
 
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section, .box , .container-form  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    height: auto;
    -webkit-box-shadow: 1px 3px 12px 5px rgba(0,0,0,0.26); 
    box-shadow: 1px 3px 12px 5px rgba(0,0,0,0.26);
    box-shadow: 21px  rgba(10, 1, 1, 0.2);
    border-radius:  14px   ;
}

.container-form {
    background-color:#fff ;
    height: 630px;
    width: 600px;
    border-radius:  14px 0 0 14px  ;

}
 /*logo*/
.logo {
     display: flex;
     justify-content: center;
     height: 100px;
     width: 100%;
     margin-bottom: 80px;
     

}

.logo img {
    height: 200px;
    width: 200px;
    display: block;
    object-fit: cover;
    opacity: 1;
}

.input-content {
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
    
}

.input-content label {
    position: absolute;
    left: 70px;
    top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    pointer-events: none;
    transition: 0.3s ease-in;
    
}

input:focus + label {
    top: 18%;
    left: 70;
    transform: translateY(-50%);
    color:var(--primary-color);
}

.input-content  input {
    position: relative;
    margin-top: 15px;
    display: block;
    padding: 1rem;
    width: 80%;
    line-height: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-width: 1px ;
    border: none;
    border: 1px solid rgba(120, 128, 139, 0.2);
    border-radius: 1rem;
    outline: none;
    
}
.title {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 80%;
}

.title h1 {
    line-height: 45px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font);
    color: var(--primary-color);

    
}
.form-btn button {
    width: 80%;
    display: block;
    padding: 16px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    margin: 0 auto;
    color: #fff;
    border-width: 3px;
    font-family: var(--font);
}
.container-button {
   width: 100%;
}
.btn-input  {
    width: 80%;
    display: block;
    padding: 16px;
    border: none;
    border-radius: 20px;
    background-color: #dae0df;
    margin: 0 auto;
    color: rgb(22, 1, 1);
    border-width: 3px;
    font-family: var(--font);
}

.check-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
    font-family: var(--font);
    font-size: 16px;
    
}
.check-icon{
    margin: 0 60px;
    
}

.link a{
    margin-right: 60px;
    font-size: 14px;
}
.whatsapp-content {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
   
    padding: 1em;

}
.whatsapp-content a {
    text-decoration: none;
    font-family: var(--font);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    border-radius: 20px;

   
}
.whatsapp-content a:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.5s ease;
}
   
.whatsapp-content .fa-whatsapp {
    font-size: 24px;
    
    
}
.whatsapp {
    height: 40px;
    width: 40%;
    padding: 20px 15px;
    font-family:  var(--font);
    border: none;
    border-width: 2px;
    border-radius:5px;
}
.whatsapp::after {
    content: "WhatsApp";
    margin-left: 5px;
}
.img {
    height: 630px;
    width: 600px;
    /* background-image: url(./tar.jpg); */
    /* background-size: contain; */
    border-radius: 0 14px 14px 0 ;
    background: linear-gradient(0deg, rgba(53, 61, 145, 0.9), rgba(54, 179, 144, 0.9));
    
    
}

img{
opacity: 0.1;
object-fit: cover;
height: 630px;
width: 600px;
display: block;
border-radius: 0 14px 14px 0 ;
}

.text {
    position: relative;
    background-color: rgb(37, 62, 85);
    width: 100%;
    
  
}

.text h2 {
    position: absolute;
    text-align: center;
    margin: 300px 10px 10px 10px;
    font-family: var(--font);
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    line-height: 45px;
    
}

.fijar{
    top: -60px;
    left: 70;
    transform: translateY(-25px);
    color:#33b18e;
    transition: 0.3s ease-in;
}
.top {
    top: -60px;
    left: 70;
    color :rgba(5, 210, 141, 0) ;
}

   

span {
    position: absolute;
    top: 40px;
    right: 85px;
    transform: translate(50%,-50%);
}

.consulta {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 2em;
    font-family: var(--font);
    font-size: 14px;
}

.lembrar{
    visibility: hidden;
}
.lembrar + label {
    position:relative;
    padding-left: 5px;
}

.lembrar + label:before{
    position: absolute;
    left: -20px;
    border: 2px solid #33b18e;
    content: "";
    width: 14px;
    height: 14px;
    transition: all 0.1s ease-in;
    border-color : 0.5s ease-in ;
}

.lembrar:checked + label:before{
    transform: rotate(40deg);
    border-top-color: transparent;
    border-left-color: transparent;
    top: 0;
    left: -15px;
    width: 7px;
}
